<!-- ヘッダータブ表示 -->
<div class = "header-tab-wrapper">
  <div class = "header-tab-container">
    <a class = "header-tab" href = "/">保有銘柄</a>
    <a class = "header-tab" href = "/stocks/new">新規取得</a>
    <a class = "header-tab" href = "/performances">運用実績</a>
    <a class = "header-tab-click" href = "/users/account_info">アカウント</a>
  </div>
</div>

<!-- <div class = "page-title">保有銘柄</div> -->
<div class = "kojichu">
  <img src = "/assets/kojichu.png" alt ="" width = "150" height = "45">
</div>